.toolbar {
  position: fixed;
  z-index: 10;
}

mat-sidenav {
  width: 360px;
}

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  margin-top: 60px;
}

.mat-drawer-backdrop.mat-drawer-shown  {
 background-color: transparent;
}


